html, body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: black;
}

a:hover {
  color: #006eb6;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  background: url(images/background.jpeg) no-repeat center center fixed;
  background-size: 100%;
}

.card {
  text-align: center;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}

